body {
    background-color: white;
}
#nav-container {
    background-color: #333333;
    height: 50px;
}
.notify-bar {
    background-color: white;
}
#image-wrapper {
    background-image: url('../images/hero_ipad_pro__gl982dtu49im_largetall.jpg');
    height: 750px;
}