// Global
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    display: block;
    text-decoration: none;
}

li{
    font-size: 1.31rem;
    margin: 10px;
    color: #949497;
}

img{
    margin-top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

h4{
    font-size: 21px;
    margin-top: 11px;
 }

 ul{
     list-style-type: none;
 }

.container{
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}

// header
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 4.4rem;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2rem);
}

.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1rem;
}

.nav-list-mobile{
    display: none;
}

.nav-link{
    font-size: 1.4rem;
    color: white;
    padding: 0 1rem;
    transition: opacity 0.5s;
}

.nav-link:hover{
    opacity: 0.7;
}

.nav-link-apple{
    width: 1.6rem;
    background: url("../images/globalnav_apple_image__cxwwnrj0urau_large.svg") center no-repeat;
    height: 4.4rem;
}

.nav-link-search{
    width: 1.6rem;
    background: url("../images/globalnav_search_image__fca9mfoh8a2q_large.svg") center no-repeat;
    height: 4.4rem;
}

.nav-link-bag{
    width: 1.4rem;
    background: url("../images/globalnav_bag_image__bmix8075eg4i_large.svg") center no-repeat;
    height: 4.4rem;
}

// iPad Pro
.ipad-pro{
    background: url('../images/hero_ipad_pro__gl982dtu49im_largetall.jpg');
    margin-top: 4.4rem;
}

.title{
    color: white;
    text-align: center;
    padding-top: 5.5rem;
}

.title-heading{
    font-size: 5.6rem;
    line-height: 1.07143;
    letter-spacing: -.005rem;
}

.title-sub-heading{
    font-size: 2.65rem;
    margin-top: .6rem;
    letter-spacing: .008rem;
    font-weight: 400;
}

.availability{
    font-size: 1.7rem;
    color: #a3a1ab;
    margin-top: .68rem;
}

.cta{
    text-align: center;
    margin-top: 1.8rem;
}

.cta-link{
    color: #66bbff;
    font-size: 2.1rem;
    display: inline-block;
}

.cta-link:nth-child(2){
    margin-left: 2.6rem;
}

.cta-link:hover{
    border-bottom: 2px solid #66bbff;
}

// iPhone12 section

.iphone12-purple{
    background: url('../images/hero_iphone_12_purple__eybnx2ju5mky_largetall.jpg');
}

.title-dark{
    color: #1d1d1f;
}

.cta-link-darker{
    color: #2996fd;
}

.cta-link-darker:hover{
    border-bottom-color: #2996fd;
}

.title-price-iphone12{
    color: #a3a1ab;
    font-size: 20px;
}

.imac{
    background: url('../images/hero_imac_avail__zbofyl96mzmm_largetall.jpg');
}
 .title-imac{
     color: #1d1d1f;
 }

 .title-sub-imac{
     color: #1d1d1f;
 }


// keep at bottom to keep hero styling consistent
.hero{
    height: 69.2rem;
    background-size: auto 73.6rem;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 0.6rem solid white;
    border-bottom: 0.6rem solid white;
}

.ipad-pro{
    border-top: none;
}

// start of grid
.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
}

.watch-series{
    background: url('../images/promo_watch_series_6_lte__f8lrasjnry2y_large.jpg') center no-repeat;
}

.grid-item{
    height: 60rem;
    margin: 10px 10px 10px 10px;
    text-align: center;
}


.title-watch{
    color: white;
 }

.airtag{
    background: url('../images/promo_airtag__e6b73a64nno2_large.jpg') center no-repeat;
}

.mothers-day{
    background: url('../images/tile_lastchance__eos89elmgi6a_large.jpg') center no-repeat;
}

.arcade{
    background: url('../images/promo_arcade_wonderbox__emq7ob1vhtw2_large.jpg') center no-repeat;
}

.tv4k{
    background: url('../images/promo_tile_tv4k__cbz6fpnn6kz6_large.jpg') center no-repeat;
}

.movie-image{
    background: url('../images/promo_mosquito_coast__fzo6l5h2r42u_large.jpg') center no-repeat;
}

.movie-grid-item{
    padding-top: 30rem;
}

.tv-image{
    top: 35rem;
}

// footer
.fine-print{
    border-bottom: 1px solid #d2d2d7;
    color: #86868b;
    padding: 17px 0px 11px;
    font-size: 1.31em;
    width: 60%;
    margin: 0 auto;
}

.footer-text{
    text-align: left;
}

.footer-container{
    background-color: #f5f5f7;
}

.footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-list-container{
    margin: 20px 45px 20px 45px;
}


.bold-footer-item{
    font-weight: bold;
    color: black;
}