*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  display: block;
  text-decoration: none;
}

li {
  font-size: 1.31rem;
  color: #949497;
}

img {
  margin-top: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h4 {
  font-size: 21px;
  margin-top: 11px;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 2.2rem;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 4.4rem;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
}

.nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -1rem;
}

.nav-list-mobile {
  display: none;
}

.nav-link {
  font-size: 1.4rem;
  color: white;
  padding: 0 1rem;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.nav-link:hover {
  opacity: 0.7;
}

.nav-link-apple {
  width: 1.6rem;
  background: url("../images/globalnav_apple_image__cxwwnrj0urau_large.svg") center no-repeat;
  height: 4.4rem;
}

.nav-link-search {
  width: 2rem;
  background: url("../images/globalnav_search_image__fca9mfoh8a2q_large.svg") center no-repeat;
  height: 4.4rem;
}

.nav-link-bag {
  width: 1.4rem;
  background: url("../images/globalnav_bag_image__bmix8075eg4i_large.svg") center no-repeat;
  height: 4.4rem;
}

.ipad-pro {
  background: url("../images/hero_ipad_pro__gl982dtu49im_largetall.jpg");
  margin-top: 4.4rem;
}

.title {
  color: white;
  text-align: center;
  padding-top: 5.5rem;
}

.title-heading {
  font-size: 5.6rem;
  line-height: 1.07143;
  letter-spacing: -.005rem;
}

.title-sub-heading {
  font-size: 2.65rem;
  margin-top: .6rem;
  letter-spacing: .008rem;
  font-weight: 400;
}

.availability {
  font-size: 1.7rem;
  color: #a3a1ab;
  margin-top: .68rem;
}

.cta {
  text-align: center;
  margin-top: 1.8rem;
}

.cta-link {
  color: #66bbff;
  font-size: 2.1rem;
  display: inline-block;
}

.cta-link:nth-child(2) {
  margin-left: 2.6rem;
}

.cta-link:hover {
  border-bottom: 2px solid #66bbff;
}

.iphone12-purple {
  background: url("../images/hero_iphone_12_purple__eybnx2ju5mky_largetall.jpg");
}

.title-dark {
  color: #1d1d1f;
}

.cta-link-darker {
  color: #2996fd;
}

.cta-link-darker:hover {
  border-bottom-color: #2996fd;
}

.title-price-iphone12 {
  color: #a3a1ab;
  font-size: 20px;
}

.imac {
  background: url("../images/hero_imac_avail__zbofyl96mzmm_largetall.jpg");
}

.title-imac {
  color: #1d1d1f;
}

.title-sub-imac {
  color: #1d1d1f;
}

.hero {
  height: 69.2rem;
  background-size: auto 73.6rem;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 0.6rem solid white;
  border-bottom: 0.6rem solid white;
}

.ipad-pro {
  border-top: none;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.watch-series {
  background: url("../images/promo_watch_series_6_lte__f8lrasjnry2y_large.jpg") center no-repeat;
}

.grid-item {
  height: 60rem;
  margin: 10px 10px 10px 10px;
  text-align: center;
}

.grid-sub-title {
  color: #79797a;
}

.title-watch {
  color: white;
}

.airtag {
  background: url("../images/promo_airtag__e6b73a64nno2_large.jpg") center no-repeat;
}

.mothers-day {
  background: url("../images/tile_lastchance__eos89elmgi6a_large.jpg") center no-repeat;
}

.mothers-day-title {
  font-size: 4rem;
  color: #1d1d1f;
}

.arcade {
  background: url("../images/promo_arcade_wonderbox__emq7ob1vhtw2_large.jpg") center no-repeat;
}

.tv4k {
  background: url("../images/promo_tile_tv4k__cbz6fpnn6kz6_large.jpg") center no-repeat;
}

.movie-image {
  background: url("../images/promo_mosquito_coast__fzo6l5h2r42u_large.jpg") center no-repeat;
}

.movie-grid-item {
  padding-top: 30rem;
}

.tv-image {
  top: 35rem;
}

.fine-print {
  border-bottom: 1px solid #d2d2d7;
  color: #86868b;
  padding: 17px 0px 11px;
  font-size: 1.31em;
  width: 60%;
  margin: 0 auto;
}

.footer-text {
  text-align: left;
}

.footer-container {
  background-color: #f5f5f7;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-list-container {
  margin: 2rem 4.7rem 2rem 4.7rem;
}

.bold-footer-item {
  font-weight: bold;
  color: #8b8b8d;
  margin: 1rem;
}

.footer-item {
  margin: 10px;
  color: #656568;
}

.footer-item:hover {
  -webkit-text-decoration: underline #2f2f30;
          text-decoration: underline #2f2f30;
}

@media screen and (max-width: 1068px) {
  .ipad-pro {
    background: url("../images/hero_ipad_pro__gl982dtu49im_mediumtall.jpg");
  }
  .iphone12-purple {
    background: url("../images/hero_iphone_12_purple__eybnx2ju5mky_mediumtall.jpg");
  }
  .imac {
    background: url("../images/hero_imac_avail__zbofyl96mzmm_mediumtall.jpg");
  }
  .hero {
    height: 65rem;
    background-size: auto 69.8rem;
    background-position: bottom center;
    background-repeat: no-repeat;
  }
  .title-heading {
    font-size: 4.4rem;
  }
  .title-sub-heading {
    font-size: 2.4rem;
  }
  .cta-link:nth-child(2) {
    margin-left: 2rem;
  }
  .grid-item {
    height: 50rem;
  }
  .watch-series {
    background: url("../images/promo_watch_series_6_lte__f8lrasjnry2y_medium.jpg") center no-repeat;
  }
  .airtag {
    background: url("../images/promo_airtag__e6b73a64nno2_medium.jpg") center no-repeat;
  }
  .mothers-day {
    background: url("../images/tile_lastchance__eos89elmgi6a_medium.jpg") center no-repeat;
  }
  .arcade {
    background: url("../images/promo_arcade_wonderbox__emq7ob1vhtw2_medium.jpg") center no-repeat;
  }
  .tv4k {
    background: url("../images/promo_tile_tv4k__cbz6fpnn6kz6_medium.jpg") center no-repeat;
  }
  .movie-image {
    background: url("../images/promo_mosquito_coast__fzo6l5h2r42u_medium.jpg") center no-repeat;
  }
  .grid-sub-title {
    font-size: 2rem;
    width: 80%;
    margin-left: 4.5rem;
    position: relative;
    top: -4rem;
  }
  .watch-sub-title {
    top: -4rem;
  }
  .watch-image {
    margin-top: 12rem;
    margin-bottom: -3rem;
  }
  .mothers-sub-title {
    top: 0;
  }
  .title-mothers {
    width: 80%;
    margin-left: 5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mothers-day-title {
    color: #464648;
    font-size: 3rem;
    width: 70%;
    margin-left: 2rem;
    position: relative;
    left: 4rem;
  }
  .fine-print {
    width: 95%;
  }
  .footer-list-container {
    font-size: 5rem;
    padding: 1rem;
  }
  br {
    content: '';
  }
  .small-cta > a {
    position: relative;
    top: -5rem;
    font-size: 1.8rem;
  }
  .mothers-small-cta > a {
    top: 0rem;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: .5rem;
    left: 11rem;
  }
  .mothers-small-cta > .apple-watch {
    margin-left: 5.5rem;
  }
  .tv4k-small-cta > a {
    top: -4rem;
  }
  img {
    position: relative;
    top: -3.5rem;
  }
  .tv4k-title {
    width: 55%;
    margin-left: 10rem;
    font-size: 3rem;
    position: relative;
    top: -2.5rem;
    color: #1d1d1f;
  }
  .movie-watch-now {
    position: relative;
    top: -4rem;
  }
  .title-watch {
    position: relative;
    top: -5rem;
  }
  .tv-image {
    position: relative;
    top: 4rem;
  }
}

@media screen and (max-width: 767px) {
  header {
    height: 4.8rem;
    -webkit-transition: background 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), height 0.56s cubic-bezier(0.32, 0.08, 0.24, 1);
    transition: background 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), height 0.56s cubic-bezier(0.32, 0.08, 0.24, 1);
  }
  header .container {
    padding: 0;
  }
  .ipad-pro {
    margin-top: 4.8rem;
  }
  .nav-list {
    margin: 0;
  }
  .nav-list-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-item {
    width: 4.8rem;
    height: 4.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-item-hidden {
    display: none;
  }
  .mobile-menu {
    position: relative;
    z-index: 1100;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .line {
    position: absolute;
    width: 1.7rem;
    height: 1px;
    background-color: #fff;
    -webkit-transition: margin-top 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: margin-top 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
  }
  .line-top {
    margin-top: 2px;
  }
  .line-bottom {
    margin-top: -1rem;
  }
  .active .line-top {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: -webkit-transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96), -webkit-transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
  }
  .active .line-bottom {
    margin-top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: -webkit-transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96), -webkit-transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
  }
  header.active {
    height: 100%;
    background-color: black;
  }
  .nav-link-apple {
    width: 1.8rem;
    height: 4.8rem;
    position: relative;
    z-index: 1200;
  }
  .nav-link-bag {
    width: 1.6rem;
    height: 4.8rem;
    -webkit-transition: opacity 3s;
    transition: opacity 3s;
  }
  .nav {
    position: relative;
  }
  .nav-link {
    font-size: 1.7rem;
    padding: 0;
    margin: auto 0;
  }
  .nav-list-larger {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: block;
    padding: 10.5rem 5rem;
    z-index: 1000;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
  }
  .active .nav-list-larger {
    width: 100%;
    height: 100vh;
    opacity: 1;
    visibility: visible;
  }
  .active .nav-link-bag {
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
  }
  .nav-list-larger .nav-item {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-bottom: 2px solid rgba(255, 255, 255, 0.11);
  }
  .nav-list-larger .nav-item:nth-child(1) {
    display: none;
  }
  .nav-list-larger .nav-item:nth-child(9) {
    border-bottom: none;
  }
  .nav-list-larger .nav-item:nth-child(10) {
    border-bottom: none;
  }
  .active .nav-list-larger .nav-item {
    -webkit-animation: fadeIn 1s ease-in;
            animation: fadeIn 1s ease-in;
  }
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 736px) {
  .ipad-pro {
    background: url("../images/hero_ipad_pro__gl982dtu49im_small.jpg");
  }
  .iphone12-purple {
    background: url("../images/hero_iphone_12_purple__eybnx2ju5mky_small.jpg");
  }
  .imac {
    background: url("../images/hero_imac_avail__zbofyl96mzmm_small.jpg");
  }
  .hero {
    height: 50rem;
    background-size: auto 54.8rem;
    background-position: bottom center;
    background-repeat: no-repeat;
  }
  .title {
    padding-top: 3.7rem;
  }
  .title-heading {
    font-size: 3.2rem;
  }
  .title-sub-heading {
    font-size: 1.9rem;
  }
  .title-price-iphone12 {
    font-size: 1.4rem;
    width: 50%;
    margin-left: 11rem;
  }
  .cta {
    position: relative;
    top: -1.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */